<h2>Editing Place ...</h2>

<% if @place.errors.any?  %>
	<% @place.errors.full_messages.each do |e| %>
		<b><i><%= e %></i></b><br><br>
	<% end %>
<% end %>

<form action="<%= place_path %>" method="post">
	<input type="hidden" name="_method" value="put">

	<%= render 'form' %>

</form>

<br><i><%= link_to 'back', place_path %></i>
